[submodule "themes/hello-friend"]
	path = themes/hello-friend
	url = https://github.com/lambda2j/hugo-theme-hello-friend.git
[submodule "public"]
	path = public
	url = https://github.com/lambda2j/lambda2j.github.io.git
	branch = master
